# <a href="https://www.kaggle.com/datasets/sjleshrac/airlines-customer-satisfaction">Competition</a> Kaggle "Airlines Customer satisfaction".

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

**Read data**

In [2]:
# Load dataset.
try:
    df = pd.read_csv("Invistico_Airline.csv")
except:
    url = 'https://raw.githubusercontent.com/jysan3/airline_passengers_satisfaction_classification/main/Invistico_Airline.csv'
    df = pd.read_csv(url)

In [3]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Columns: 23 entries, satisfaction to Arrival Delay in Minutes
dtypes: float64(1), int64(17), object(5)
memory usage: 22.8+ MB

In [6]:
# Let's look at all columns.
pd.set_option('display.max_columns', None)
df.head(2)

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0

In [7]:
# Return the display to the default settings.
pd.set_option('display.max_columns', 20)

In [8]:
# View how much is in df colums type object.
df.select_dtypes(include=['object'])

        satisfaction  Gender      Customer Type   Type of Travel     Class
0          satisfied  Female     Loyal Customer  Personal Travel       Eco
1          satisfied    Male     Loyal Customer  Personal Travel  Business
2          satisfied  Female     Loyal Customer  Personal Travel       Eco
3          satisfied  Female     Loyal Customer  Personal Travel       Eco
4          satisfied  Female     Loyal Customer  Personal Travel       Eco
...              ...     ...                ...              ...       ...
129875     satisfied  Female  disloyal Customer  Personal Travel       Eco
129876  dissatisfied    Male  disloyal Customer  Personal Travel  Business
129877  dissatisfied    Male  disloyal Customer  Personal Travel       Eco
129878  dissatisfied    Male  disloyal Customer  Personal Travel       Eco
129879  dissatisfied  Female  disloyal Customer  Personal Travel       Eco

[129880 rows x 5 columns]

In [ ]:
# Создать отдельные столбцы для всех вариантов object.

# Learning

## Logistic Regression

In [ ]:
# Написать код.