Open Machine Learning Course

**<a href="https://www.kaggle.com/c/titanic">Competition</a> Kaggle "Titanic: Machine Learning from Disaster".**

In [1]:
import pandas as pd

**Read data**

In [2]:
try:
    df = pd.read_csv("titanic_train.csv", index_col="PassengerId")
except:
    url = 'https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv'
    df = pd.read_csv(url, index_col="PassengerId")

In [3]:
df.head(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [5]:
df.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)

In [6]:
df[df.isnull().any(1)]

             Survived  Pclass     Sex  Age  SibSp  Parch     Fare
PassengerId
6                   0       3    male  NaN      0      0   8.4583
18                  1       2    male  NaN      0      0  13.0000
20                  1       3  female  NaN      0      0   7.2250
27                  0       3    male  NaN      0      0   7.2250
29                  1       3  female  NaN      0      0   7.8792
...               ...     ...     ...  ...    ...    ...      ...
860                 0       3    male  NaN      0      0   7.2292
864                 0       3  female  NaN      8      2  69.5500
869                 0       3    male  NaN      0      0   9.5000
879                 0       3    male  NaN      0      0   7.8958
889                 0       3  female  NaN      1      2  23.4500

[177 rows x 7 columns]

In [7]:
df.dropna(axis=0, inplace=True)

In [8]:
df[df.isnull().any(1)]

Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare]
Index: []

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Sex       714 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     714 non-null    int64
 5   Parch     714 non-null    int64
 6   Fare      714 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 44.6+ KB

In [10]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [11]:
df.head()

             Survived  Pclass  Sex   Age  SibSp  Parch     Fare
PassengerId
1                   0       3    0  22.0      1      0   7.2500
2                   1       1    1  38.0      1      0  71.2833
3                   1       3    1  26.0      0      0   7.9250
4                   1       1    1  35.0      1      0  53.1000
5                   0       3    0  35.0      0      0   8.0500

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Sex       714 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     714 non-null    int64
 5   Parch     714 non-null    int64
 6   Fare      714 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 44.6 KB

# Lerning

In [13]:
y = df['Survived'].astype('int')

In [14]:
y.dtype

dtype('int32')

In [15]:
x = df.drop(['Survived'], axis=1)

In [16]:
x.head()

             Pclass  Sex   Age  SibSp  Parch     Fare
PassengerId
1                 3    0  22.0      1      0   7.2500
2                 1    1  38.0      1      0  71.2833
3                 3    1  26.0      0      0   7.9250
4                 1    1  35.0      1      0  53.1000
5                 3    0  35.0      0      0   8.0500

In [17]:
x.shape, y.shape

((714, 6), (714,))

# kNN

In [18]:
# Корректно разобъет на x_train, x_valid
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [19]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.2, random_state=6)

In [46]:
x_train.shape, x_valid.shape

((571, 6), (143, 6))

In [47]:
knn_pipe = Pipeline([("scaler", StandardScaler()), ("knn", KNeighborsClassifier(n_jobs=-1))])

In [55]:
knn_params = {'knn__n_neighbors': range(2, 50)}

In [77]:
knn_grid = GridSearchCV(knn_pipe, knn_params, cv=5, n_jobs=-1)

In [78]:
knn_grid.fit(x_train, y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('knn',
                                        KNeighborsClassifier(n_jobs=-1))]),
             n_jobs=-1, param_grid={'knn__n_neighbors': range(2, 50)})

In [79]:
knn_grid.best_params_, knn_grid.best_score_

({'knn__n_neighbors': 6}, 0.8125705568268498)

In [80]:
# Точность работы модели
accuracy_score(y_valid, knn_grid.predict(x_valid))

0.7902097902097902

In [81]:
knn_grid.predict(x_valid)

array([0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1])